[submodule "external/--force"]
	path = external/--force
	url = https://github.com/google/googletest
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
